body.fixed-body2{
    overflow-y: hidden;
    padding-right: var(--scrollWidth);
}

.solution-modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}

.solution-modal._open{
    opacity: 1;
    pointer-events: unset;
}

.solution-modal__bg{
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background: #000;
    opacity: .3;
}

.solution-modal__dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 13;
    padding: 20px;
    width: 1180px;
    max-width: calc(100% - 40px);
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 46% calc(54% - 44px);
    gap: 44px;
}

.solution-modal__close{
    position: absolute;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 20px;
    background-color: transparent;
}

.solution-modal__close img{
    width: 100%;
    display: block;
}

.solution-modal__images{
    max-height: 640px;
    overflow-y: auto;
    padding-right: 8px;
    border-radius: 20px;
}

.solution-modal__images::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.solution-modal__images::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
.solution-modal__images::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 5px;
}

.solution-modal__img{
    margin-bottom: 10px;
    padding-bottom: 68%;
}

.solution-modal__img:last-child{
    margin-bottom: 0;
}

.solution-modal__img-num{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px 18px;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
}

.solution-modal__col2{
    padding-top: 90px;
    max-width: 534px;
}

.solution-modal__title{
    font-size: 28px;
    line-height: 143%;
    color: #081b4d;
}

.solution-modal__desc{
    margin: 24px 0 38px;
    font-size: 20px;
    line-height: 140%;
    color: #707070;
}

.solution-modal .solution-card2__desc,
.solution-modal .solution-card2__desc2{
    font-size: 18px;
}


@media (max-width: 992px){
    .solution-modal{
        padding: 30px 0;
        overflow-y: auto;
    }

    .solution-modal__dialog{
        grid-template-columns: 100%;
        gap: 30px;
        position: relative;
        transform: unset;
        top: unset;
        left: unset;
        margin: 0 auto;
        padding: 38px 15px;
    }

    .solution-modal__close{
        width: 20px;
        top: 16px;
        right: 16px;
    }

    .solution-modal__col2{
        order: -1;
        padding: 0;
        max-width: 100%;
    }

    .solution-modal__title{
        font-size: 18px;
    }

    .solution-modal__desc{
        font-size: 16px;
        margin: 14px 0 20px;
    }

    .solution-modal .solution-card2__desc,
    .solution-modal .solution-card2__desc2{
        font-size: 16px;
        line-height: 20px;
    }

    .solution-modal__images{
        max-height: unset;
    }

    .solution-modal__img{
        margin-bottom: 13px;
    }

    .solution-modal__img-num{
        padding: 14px 20px;
        font-size: 16px;
    }
}
